<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://images.gibson.com/Products/Electric-Guitars/2014/Les-Paul-Standard/Gallery-Images/LPS14HYRC1-Glam-Shot.jpg" alt="...">
      <div class="caption">
        <h3>Gibson Les Paul</h3>
        <p>$2,942</p>
        <p><a href="#" class="btn btn-primary" role="button">Cart</a> <a href="#" class="btn btn-default" role="button">One-Click Purchase</a></p>
      </div>
    </div>
  </div>
</div>
